<!-- page-header -->
<section class="page-intro">
  
  {% if page.url contains "sales-channels/amazon/" %}
  <div class="bs-callout-warning">
    You are viewing documentation for Amazon Sales Channel 2.x / 3.x.</b> <br/>Refer to <a href="https://experienceleague.adobe.com/en/docs/commerce-channels/amazon/guide-overview">Amazon Sales Channel 4.0+</a> for updated documentation.
  </div>
  {% endif %}

  <div class="bs-callout-warning">
   After July 2021, the 2.3.x release line no longer received quality updates, or user guide updates. PHP 7.3 have reached end of support in December 2021 and Adobe Commerce 2.3.x reached <a href="https://www.adobe.com/content/dam/cc/en/legal/terms/enterprise/pdfs/Adobe-Commerce-Software-Lifecycle-Policy.pdf">end of support</a> in September 2022. We strongly recommend you upgrading to Adobe Commerce 2.4.x to help maintain PCI compliance.
 </div>
  
  <h1 class="page-title">{{ page.title }}</h1>

  <div class="bs-callout-info">
    This site contains archived merchant documentation for a version of Adobe Commerce and Magento Open Source that have reached <a href="https://experienceleague.adobe.com/en/docs/commerce-operations/release/versions">end-of-support</a>.
    The documentation available here is intended for historical reference only and is not maintained.
    The <a href="https://experienceleague.adobe.com/en/docs/commerce-admin/user-guides/home"><b>Adobe Commerce Merchant Documentation</b></a> for current releases is published on the Adobe Experience League.
   </div>

  {% include layout/edition-callout.html %}

</section>  
